.cta {
  position: relative;
  padding-block: 8rem;

  // Gradient
  &::before {
    position: absolute;
    z-index: -1;
    height: 125%;
    background-image: linear-gradient(90deg, transparent, var(--color-cyan-700), transparent);
    content: "";
    inset: 0;
    mask-image: linear-gradient(transparent, rgb(0 0 0 / 0.5) 50%);
  }

  .grid-container {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    inset: 0;
    mask-image: linear-gradient(transparent, rgb(0 0 0) 40%);
    perspective: 1000px;

    // Grid pattern
    .grid {
      position: absolute;
      z-index: -1;
      bottom: -200px;
      width: 100%;
      height: 200%;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='64' height='64' fill='none' stroke='%23ffffff10'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
      background-position: center bottom;
      mask-image: linear-gradient(to right, transparent, rgb(0 0 0 / 0.75), transparent);
      transform: rotateX(65deg);
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: var(--font-size-5xl);
    }

    .buttons {
      display: flex;
      margin-top: 3rem;
      gap: 1rem;
    }
  }
}
