.showcase {
  position: relative;
  display: flex;
  overflow: hidden;
  max-width: var(--content-width);
  align-items: center;
  padding: 4rem;
  border: 1px solid var(--theme-outline);
  border-radius: var(--rounded-lg);
  background-color: var(--theme-surface);
  margin-inline: auto;

  .text-container {
    width: 50%;

    p {
      margin-top: 1rem;
      font-size: var(--font-size-lg);
    }
  }

  .items {
    position: absolute;
    top: 50%;
    right: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    mask-image: linear-gradient(rgb(0 0 0 / 0.25) 0 5%, rgb(0 0 0) 25% 75%, rgb(0 0 0 / 0.25) 95% 100%);
    rotate: 10deg;
    transform: translateY(-50%);

    .item {
      display: flex;
      width: 88px;
      height: 88px;
      align-items: center;
      justify-content: center;
      border-radius: var(--rounded-lg);
      background-color: rgb(255 255 255 / 0.05);
      font-size: 1.5rem;
    }
  }
}
